main,
body {
  margin: 0;
}

h1 {
  background-color: rgb(82, 139, 204);
  color: white;
  padding: 25px;
  margin: 0;
  border-bottom: solid 5px rgb(47, 47, 47);
}
.table-container {
  width: 600px;
  height: auto;
  border: solid 3px black;
  margin: auto;
  margin-top: 100px;
  padding: 0;
}
.input-box {
  padding: 10px;
  text-align: center;
  display: inline block;
  border-bottom: solid 2px black;
}
.calc-table {
  padding-top: 5px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
input {
  margin: auto;
  padding: 15px;
  width: 94%;
  font-size: 20px;
  margin-bottom: 10px;
}
.button-box {
  padding: 10px;
  text-align: center;
  display: inline block;
  border-bottom: solid 2px black;
}

.output-box {
  text-align: center;
  display: inline block;
  border-bottom: solid 2px black;
}
.history-box {
  text-align: center;
  display: inline block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calc-button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  width: 100%;
}

.tabler {
  width: 100%;
}
.history-item {
  width: 100%;
}
.history-item-clear {
  margin-bottom: 10px;
}
